#project1 { background-image: url('../res/images/b1.jpeg'); }
#project2 { background-image: url('https://images.pexels.com/photos/3110509/pexels-photo-3110509.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); }
#project3 { background-image: url('../res/images/b3.jpeg'); }
#project4 { background-image: url('https://images.pexels.com/photos/2832432/pexels-photo-2832432.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); }
#project5 { background-image: url('https://images.pexels.com/photos/3276029/pexels-photo-3276029.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); }