#project1 { background-image: url('../res/images/b1.jpeg'); }
#project2 { background-image: url('../res/images/b2.jpeg'); }
#project3 { background-image: url('../res/images/b3.jpeg'); }
#project4 { background-image: url('../res/images/b4.jpeg'); }